.DS_Store
.svn/
asterisk-1.4.21.2/*
asterisk-1.4.21.2-orig/*
dl/*
dropbear-0.52/*
g729/*
gmp-4.3.1/*
ipkg/*
libxml2-2.7.3/*
opt/*
oslec/*
spandsp-0.0.4/*
tiff-3.8.2/*
tmp/*
u-boot-1.1.6-2008R1.5/*
uClinux-dist/*
uClinux-dist-orig/*
vim71/*
zaptel-1.4.3/*
zaptel-1.4.9.2/*
*~

