.DS_Store
.svn/
asterisk-1.4.21.2/*
asterisk-1.4.21.2-orig/*
dl/*
dnsmasq-2.49/*
dropbear-0.52/*
ez-ipupdate-3.0.11b8/*
g729/*
gmp-4.3.1/*
ipkg/*
libxml2-2.7.3/*
openvpn/*
opt/*
oslec/*
spandsp-0.0.4/*
squid-2.7.STABLE9/*
strongswan-4.3.1/*
tiff-3.8.2/*
tmp/*
u-boot-1.1.5-bf1/*
uClinux-dist/*
uClinux-dist-orig/*
vim71/*
zaptel-1.4.9.2/*
*~

